@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

body {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  font-family: 'Zilla Slab', serif;
  color: #E95420;
  display: inline-flex;
}

.shift-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.portfolio-item {
  width: 20rem;
  height: 25rem;
  background-color: tomato;
  margin: 1rem;

}
