@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

body {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  font-family: 'Zilla Slab', serif;
  color: #E95420;
  display: inline-flex;
}
SocialIcon {
  padding: 10px;
}

.shift-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
